:root{
    --font-main: 'Roboto', sans-serif;
    --color-header: #4A76A8;
    --size-menu: 25px;
    --size-text: 17px;
    --color-active: #224B7A;
    --border: 1px solid #E7E8EC;
    --shadow: inset 0px -1px 0px #D3D9DE;
}

body{
    margin: 0;
    background: #e9f0f8b6;
}

.header{
    position: fixed;
    top: 0;
    z-index: 150;
    background: var(--color-header);
    border-bottom: var(--border);
    box-shadow: var(--shadow);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__link_type-catalog, .header__link_type-favorites{
    font-family: var(--font-main);
    font-size: var(--size-menu);
    color: white;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    transition: 0.2s;
}

.header__link_type-catalog{
    margin-right: 64px;
}

.header__link_type-catalog:hover, .header__link_type-favorites:hover{
    transform: scale(0.95);
}

.header__link_type-catalog:active, .header__link_type-favorites:active{
    color: var(--color-active);
}

.content_type-favorites{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 66px;
    margin-left: 54px;
}

.content_type-catalog{
    margin-top: 66px;
}

.active{
    text-decoration: underline;
}

.hide{
    display: none;
}

.content{
    max-width: 800px;
    margin: 0 auto;
}

.user{
    font-family: var(--font-main);
    font-size: var(--size-menu);
    margin-bottom: 16px;
    transition: 0.2s;
    cursor: pointer;

    user-select: none;
    -moz-user-select: none;

    width: 100%;
    padding: 16px;

    background: white;
    border-radius: 5px;
    border-bottom: var(--border);
    box-shadow: var(--shadow);
}

.user:before{
    content: "\25BC";
    margin-right: 16px;
    color: var(--color-active);
}

.user_non-selected:hover{
    transform: scale(0.95);
    color: var(--color-active);
}

.user__album{
    margin-left: 64px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
}

.user__album__title{
    width: 660px;
    margin-bottom: 16px;
}

.user__album:hover{
    color: var(--color-active);
}

.user__album:nth-child(1){
    margin-top: 16px;
}

.user__album:before{
    content: "\25BC";
    margin-right: 16px;
    color: var(--color-active);
}

.photo-wrapper__photo{
    margin-left: 56px;
    max-width: 500px;
    margin-bottom: 16px;
    transition: 1s;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.photo-wrapper__photo:nth-child(1){
    margin-top: 16px;
}

.photo-wrapper__star{
    position: absolute;
    color: gray;
    font-size: 35px;
    transform: translateX(28px) translateY(-12px);
    transition: opacity 1s;
    cursor: pointer;
}

.photo-wrapper__star:hover{
    font-size: 32px;
}

.non-selected:before{
    content: "\25B6";
    margin-right: 16px;
    cursor: pointer;
}

.star_selected{
    color: #ff7800;
}

.modal-window{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-window__img{
    z-index: 210;
    position: fixed;
    transition: 0.5s;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.overlay{
    position: fixed;
    z-index: 200;
    background: rgba(145, 144, 143, 0.932);
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    opacity: 0;
    transition: 0.5s;
    justify-content: center;
}

.overlay__text{
    position: absolute;
    font-family: var(--font-main);
    font-size: var(--size-menu);
    margin-top: 16px;
    color: white;
    font-weight: 500;
}

@media (max-width: 500px){
    .overlay__text{
        font-size: var(--size-text);
    }
}