:root{
    --font-main: 'Roboto', sans-serif;
    --color-header: #4A76A8;
    --size-menu: 25px;
    --size-text: 17px;
    --color-active: #224B7A;
    --border: 1px solid #E7E8EC;
    --shadow: inset 0px -1px 0px #D3D9DE;
}

body{
    margin: 0;
    background: #e9f0f8b6;
}

.header{
    background: var(--color-header);
    border-bottom: var(--border);
    box-shadow: var(--shadow);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__link_type-catalog, .header__link_type-favorites{
    font-family: var(--font-main);
    font-size: var(--size-menu);
    margin-right: 64px;
    color: white;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    transition: 0.2s;
}

.header__link_type-catalog:hover, .header__link_type-favorites:hover{
    transform: scale(0.95);
}

.header__link_type-catalog:active, .header__link_type-favorites:active{
    color: var(--color-active);
}

.active{
    text-decoration: underline;
}

.hide{
    display: none;
}

.content{
    max-width: 800px;
    margin: 0 auto;
}

.user{
    font-family: var(--font-main);
    font-size: var(--size-menu);
    margin-bottom: 16px;
    transition: 0.2s;

    user-select: none;
    -moz-user-select: none;

    width: 100%;
    padding: 16px;

    background: white;
    border-radius: 5px;
    border-bottom: var(--border);
    box-shadow: var(--shadow);
}

.user:before{
    content: "\25BC";
    margin-right: 16px;
    color: var(--color-active);
}

.user_non-selected{
    cursor: pointer;
}

.user_non-selected:hover{
    transform: scale(0.95);
    color: var(--color-active);
}

.user_non-selected:active{
    text-decoration: underline;
}

.user__album{
    margin-left: 64px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.user__album:hover{
    color: var(--color-active);
}

.user__album:nth-child(1){
    margin-top: 16px;
}

.user__album:before{
    content: "\25BC";
    margin-right: 16px;
    color: var(--color-active);
}

.album__photo{
    margin-left: 96px;
    max-width: 500px;
    margin-bottom: 16px;
}

.album__photo:nth-child(1){
    margin-top: 16px;
}

.non-selected:before{
    content: "\25B6";
    margin-right: 16px;
}